@{
    ViewData["Projeto"] = "Home Page";
}
<link href="/css/Home.css" rel="stylesheet" />

<header>
    <video autoplay muted loop class="video-fundo">
        <source src="/videos/video.mp4" type="video/mp4" />

    </video>
    <div class="container text-center text-white  ">
        <h1 class="">Sistema de Clientes</h1>
        <p class="">Tecnologia de Qualidade</p>
        <div>
            <button class="btn btn-outline-light me-2">Saiba Mais...</button>
        </div>

    </div>

</header>
